<%- include('header') %>
<div>
	<% if(error) { %>
		<%= error %>
	<% } else { %>
    <table class="pure-table pure-table-bordered">
        <thead>
            <tr>
                <th>Cotação</th>
                <th>Quantidade</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><%= cotacao %></td>
                <td><%= quantidade %></td>
                <td><strong><%= conversao %></strong></td>
            </tr>
        </tbody>
    </table>
	<% } %>

</div>
<%- include('footer') %>
